
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
page-map-test {

     background-color:rgba(0,0,0,.3);
     .parent{
       padding: 16px;
       height: 100%;
     }
     #map {
       position: relative;
        height: 100%;
        border-radius: 5px;
    }
    .test{
      position: absolute;
      top: 50px;
      left: 50px;
      width:50px;
      height: 50px;
      background-color: map-get($colors, primary )
    }
    .red{
      background-color: red;
    }
    .label{
      position: absolute;
    }
    .hiden{
      display: none;
    }
    .map-control{
      z-index:100;
      position: absolute;
      border-radius: 50%;
    }
    .big-button{   
      width:8vw;
      height: 8vw;
      max-width: 70px;
      max-height: 70px;
      min-width: 40px;
      min-height: 40px;
      font-size: 3.5vw;
    }
    .small-button{
      width:4vw;
      height: 4vw;
      max-width: 40px;
      max-height: 40px;
      min-width: 20px;
      min-height: 20px;
      font-size: 1.5vw;
    }
    .close-button{
      right:2vw;
      top:2vw;
      
    }
    .search-button{
      left:2vw;
      bottom:2vw;
    }
    .svg{
      fill:map-get($colors, primary );
    }
}
