page-idea-creation {
    .next-button{
        float:right;
        width:30vw;
         transition:all 0.5s ease;
    }
    .idea-label{
       
        text-transform: uppercase;
    
    }
    
    
}
