idea-work-time {
    .work-time-wrapper{
        margin: 10px;

    }
    .text-container-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: space-between;
    }

}
